[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirer = "*"
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
rich = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "3.13"
